<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="batchFileLocation" value="" />
        <add key="stoppingHour" value="18" />
        <add key="loopDelayInMinutes" value="20" />
    </appSettings>
</configuration>